<!DOCTYPE html>
<html>

<head>
    <!-- <title>CV-JOB MACHING</title> -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/prediction.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dropbox.css')}}">


    <!--fotter styles-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">

    <script>
        function validateSkills() {
            var skillsInput = document.querySelector('input[name="skills"]').value;
    
            if (skillsInput.trim() === "") {
                // Skills input is empty, prevent the form submission
                alert("Please enter skills before matching.");
                return false;
            }
            
            // Skills input is not empty, allow the form submission
            return true;
        }
    </script>
</head>
<body>
    <nav>
        <div class="nav-logo-container">
            <img src="static/images/Logo.png" alt="">
        </div>
        <div class="navbar-links-container">
            <a href="#">Home</a>
            <a href="#">CV Ranking</a>
            <a href="#">Academic Transcript</a>
            <a href="#">Professional Skills</a>
            <a href="#">Personality</a>
        </div>
        <div class="navbar-menu-container">
            <span class="bars-icon" onclick="openMenu()">&#9776;</span>
        </div>
        <div id="drawer" class="drawer">
            <div class="drawer-content">
                <ul>
                    <!-- Add your menu items dynamically using JavaScript -->
                </ul>
                <hr>
            </div>
        </div>
    </nav>
   
   
            <form method="POST" enctype="multipart/form-data">
                
              <!--  <label for="pdf">Upload resume files</label>
                
                <input type="file" name="pdf" accept=".pdf" multiple><br><br>
                <label for="jd">Select Job Description (JD) PDF:</label>
                <input type="file" name="jd" accept=".pdf"><br><br>-->
                
            

            <div class="frame-resume">
                <div class="center-resume">
                    <div class="title-resume">
                        <h1>Upload resume files</h1>
                    </div>
            
                    <div class="dropzone-resume">
                        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon-resume" />
                        <input type="file" name="pdf" class="upload-input-resume" accept=".pdf" multiple />
                    </div>
            
        </div>

      </div>

      <div class="frame-jd">
        <div class="center-jd">
            <div class="title-jd">
                <h1>Upload Job Description</h1>
            </div>
    
            <div class="dropzone-jd">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon-jd" />
                <input type="file" name="jd" class="upload-input-jd" accept=".pdf"  />
            </div>
          
    
        </div>
    </div>

    <div class="frame-skills">
        <div class="center-skills">
            <div class="title-skills">
                <h1>Enter Skills</h1>
            </div>

            <div class="input-skills">
                <input type="text" name="skills" placeholder="Enter skills here">
            </div>
        </div>
    </div>
    <div class="match-recruitment">
            <img src="static/images/recruitment.jpg" class="match-recruitment-image" alt="">
        </div>
    <div class="match-resume-button" >
        <button type="submit" class="btn" name="Match">Match</button>
        <!--<input  class="btn" type="submit" value="Match">-->
    </div>
</form>
    </div>
    
    
    
    {% if predictions %}
        <ul>
            {% for prediction in predictions %}
                <li>{{ prediction }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>

<!--footer begins-->
<footer class="site-footer">
    <div class="footer-container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h4 class="footer-about">About</h4>
                <p class="text-justify">Intellihire.com <i>Revolutionize Recruitment</i>: At IntelliHire, we're
                    dedicated to
                    simplifying talent acquisition. Our initiative strives to empower HR professionals and recruiters of
                    the future by offering innovative solutions. We specialize in transforming the hiring landscape
                    through smart technology, AI-driven assessments, and seamless integrations. Join us to reshape the
                    way you hire, embracing a future where hiring complexities are a thing of the past.</p>
            </div>



            <div class="col-xs-6 col-md-3">
                <h4 class="quick-links">Quick Links</h4>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">About Us</a></li>
                    <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="copyright-container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="" copyright-text>Copyright &copy; 2017 All Rights Reserved by
                    <a href="#">Intellihire</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
</html>
