body{

    background-color: #E0B0FF;
}

.rows{

    height: 90vh;
}


.form-control {
    display: block;
    width: 300%;
    min-height: calc(1.5em + .75rem + 15px);
    padding: .575rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 52px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   
}

.card{

    padding: 20px;  
    background-color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
 
}


.form-control:focus {
    color: #a9c4e0;
    background-color: #fff;
    border-color: #e026f9;
    outline: 0;
    box-shadow: none;
}


.border-rad{

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    color: #fff;
    background-color: #f9a826;
    border-color: #f9a826;
}




.border-rad:hover{
   
     background-color: #f9a826;
    border-color: #f9a826;

}