nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    background-color: #088F8F;
    padding: 10px;
}

.navbar-menu-container {
    display: none;
}

.navbar-links-container a {
    margin-right: 3.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}

.primary-button {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.navbar-cart-icon {
    font-size: 1.15rem;
}

.primary-button:hover {
    background-color: rgb(234, 234, 234);
}

.navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-links-container a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.navbar-links-container a:hover {
    background-color: rgba(5, 169, 199, 0.7);
    border-radius: 0.5rem;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
}

.bars-icon {
    font-size: 24px;
    cursor: pointer;
}

.drawer {
    display: none;
}

.drawer-content ul {
    list-style: none;
    padding: 0;
}

.drawer-content ul li {
    margin-bottom: 10px;
}

.jumbotron {
    background-color: #FFC300;
    height: 30px;
    padding-top: 10px;
    padding-top: 10px;

}

.titlecontainer {
    margin-left: 420px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the form container */
.form-group {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* image */
.home-image-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.home-image-section img {
    max-width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* table */
table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.container_bigfive_home {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#getstarted {
    padding: 1rem 2rem;
    background-color: #39C973;
    outline: none;
    border: none;
    border-radius: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    /* Adjusted width */
}

#getstarted svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
}

#getstarted:hover {
    background-color: #e48f0f;
}

.bigfive3 {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.center-title {
    text-align: center;
    margin-top: 20px;
}

.bigFiveTitle {
    font-size: 2.7rem;
    color: #39C973;
    margin: 0;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.small-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.phrase {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    max-width: 80%;
}

#navButton {
    color: black;
}

#navButton:hover {
    color: white
}

/* slider */
input[type='range'] {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    background-color: #888B8D;
    outline: none;
    opacity: 0.7;
    border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #01735C;
    /* Change the color of the thumb */
    cursor: pointer;
    border-radius: 50%;
    margin-top: -7px;
}

input[type='range']::-moz-range-thumb {
    width: 50px;
    height: 20px;
    background-color: #01735C;
    /* Change the color of the thumb */
    cursor: pointer;
    border-radius: 50%;
}

input[type='range']::-webkit-slider-thumb:hover {
    background-color: #013329;
    /* Change the color when hovering over the thumb */
}

input[type='range']::-moz-range-thumb:hover {
    background-color: #013329;
    /* Change the color when hovering over the thumb */
}

.next {
    border-radius: 10px;
    background-color: #004225;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 580px;
    margin-bottom: 20px;
}

.next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.next:hover span {
    padding-right: 25px;
}

.next:hover span:after {
    opacity: 1;
    right: 0;
}

#requirement-form {
    max-width: 100%;
    padding: 20px;
    background-color: #E5E1E6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    background-color: white;
}

#responses-form {
    max-width: 100%;
    padding: 20px;
    background-color: #E5E1E6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.requirement-image {
    margin-top: 280px;
    max-width: 160%;
    /* Set the maximum width for responsiveness */
    height: auto;
    /* Maintain aspect ratio */
}

.requirement-table {
    margin-left: 350px;
}

#refresh-button {
    margin-left: 10px;
}

.requirement-body {
    background-color: #A2E4B8;
}

.responses-body {
    background-color: #A2E4B8;
}

.responses-image-section {
    margin-top: 280px;
    max-width: 155%;
    /* Set the maximum width for responsiveness */
    height: auto;
    /* Maintain aspect ratio */

}

.results-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.results-table th,
.results-table td {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

.results-table tr {
    background-color: white;
}

.results-image {
    display: block;
    margin: 20px auto;
    max-width: 20%;
    height: auto;
}

#radarChart {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
}

.results-title {
    color: whitesmoke;
    margin-left: 550px;
}

body.results-container {
    /* Set the background image */
    background-image: url('../images/bg.png');
    /* Update the path to your image */
    background-size: cover;
    /* Adjust the image sizing */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
}

body.requirement-body {
    /* Set the background image */
    background-image: url('../images/bg2.jpg');
    /* Update the path to your image */
    background-size: cover;
    /* Adjust the image sizing */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
}

body.responses-body {
    /* Set the background image */
    background-image: url('../images/bg2.jpg');
    /* Update the path to your image */
    background-size: cover;
    /* Adjust the image sizing */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
}

.final-scores {
    background-color: #77DD77;
    /* Light orange background for final scores */
}

.expected-scores {
    background-color: #FFB673;
    /* Light blue background for expected scores */
}

.final {
    background-color: #77DD77;
    /* Light gray background for score type labels */
    font-weight: bold;
}

.expected {
    background-color: #FFB673;
    /* Light gray background for score type labels */
    font-weight: bold;
}