nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    background-color: #088F8F;
    padding: 10px;
}

.navbar-menu-container {
    display: none;
}

.navbar-links-container a {
    margin-right: 3.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}

.primary-button {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.navbar-cart-icon {
    font-size: 1.15rem;
}

.primary-button:hover {
    background-color: rgb(234, 234, 234);
}

.navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
}

.jumbotron {
    background-color: #39C973;
}

/* Add this CSS code to your stylesheet */

/* Adjust the spacing between form and image */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

/* Style the form container */
.form-group {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* image */
.home-image-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.home-image-section img {
    max-width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* table */
table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.container_bigfive_home {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#getstarted {
    padding: 1rem 2rem;
    background-color: #39C973;
    outline: none;
    border: none;
    border-radius: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    /* Adjusted width */
}

#getstarted svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
}

#getstarted:hover {
    background-color: #e48f0f;
}

.bigfive3 {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.center-title {
    text-align: center;
    margin-top: 20px;
}

.bigFiveTitle {
    font-size: 2.7rem;
    color: #39C973;
    margin: 0;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.small-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.phrase {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    max-width: 80%;
}

#navButton {
    color: black;
}

#navButton:hover {
    color: white
}