.site-footer {
    background-color: #088F8F;
    padding: 15px 0 0;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 10px 0
}

.site-footer h4 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 2px;
    letter-spacing: 2px
}

.footer-about {
    margin-left: 30px;
}

.site-footer a {
    color: white;
}

.quick-links {
    margin-left: 200px;
}

.footer-links {
    padding-left: 0;
    list-style: none;
    margin-left: 200px;
}

.footer-links li {
    display: block
}

.footer-links a {
    color: white
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #06038D;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.copyright-text {
    margin: 0
}

.text-justify {
    color: white;
    margin-left: 30px;
    margin-right: 20px;
}

.copyright-text {
    color: white
}

.copyright-container {
    margin-left: 30px;
}
