body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  font-weight: 300; }

p {
  color: #c27070;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }
.mb-5{
  font-size: 25px;
  font-weight: bold;
  color: #101010;
}
.custom-table-responsive {
  background-color: #ffb805;
  padding: 20px;
  border-radius: 4px; }

.custom-table {
  min-width: 900px; }
  .custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .1rem; }
  .custom-table tbody th, .custom-table tbody td {
    color: #101010;
    font-weight: 600;
    
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 300; }
    .custom-table tbody th small, .custom-table tbody td small {
      color: #b3b3b3;
      font-weight: 300; }
  .custom-table tbody tr:not(.spacer) {
    border-radius: 7px;
    overflow: hidden;
    font-weight: 400;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .custom-table tbody tr:not(.spacer):hover {
      -webkit-box-shadow: 0 2px 10px -5px rgba(26, 26, 26, 0.1);
      box-shadow: 0 2px 10px -5px rgba(205, 22, 22, 0.1); }
  .custom-table tbody tr th, .custom-table tbody tr td {
    background: #ffffff;
    border: none; }
    .custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child {
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px; }
    .custom-table tbody tr th:last-child, .custom-table tbody tr td:last-child {
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px; }
  .custom-table tbody tr.spacer td {
    padding: 0 !important;
    height: 10px;
    border-radius: 0 !important;
    background: transparent !important; }
  .custom-table tbody tr.active {
    opacity: .4; }
  .table-hover tbody tr:hover {
      background-color: #4f0707; /* Change to your preferred hover background color */
  }
  .button-re {
    display: inline-block;
    padding: 10px 20px;
    background-color: #15b8a5; /* Button background color */
    color: #fff; 
    font-weight: bold; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #15b8a5;/* Button border color */
    cursor: pointer;
    /* Add any other styling you desire */
}
